 /* Desktop view */
  @media (min-width: 992px) {
   h2 {
    font-size: 32px; /* Increase font size */
    line-height: 1;
   }
    #portfolio h2 {
      padding: 10px 0 0 20px;
    }
  }

/* Mobile view */
@media (max-width: 991px) {
  body {
    padding-top: 65px; /* Add padding to the top of the page */
  }
  #portfolio {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    background: #f9f3ee;
    padding: 13px 0 0 0px;
    z-index: 1; /* Set a high z-index value */
  }
  .w3-sidebar {
    top: 0px;
    z-index: 100; 
  }
  .w3-sidebar.w3-show {
    z-index: 100;
  }
}
