 /* Desktop view */
  @media (min-width: 992px) {
    #portfolio h2 {
      font-size: 99; /* Increase font size */
    }
    .w3-rest {
      padding-left: 25px; /* Increase left padding */
    }
  }

  /* Mobile view */
  @media (max-width: 991px) {
    #portfolio {
      position: fixed;
      top: 0;
      width: 100%;
      transition: top 0.3s;
    }
     #photogrid {
      padding-top: 50px;
      width: 100%;
    }
  }
