 /* Desktop view */
  @media (min-width: 992px) {
    #portfolio h2 {
      font-size: 99; /* Increase font size */
    }
    .w3-rest {
      padding-left: 18px; /* Increase left padding */
    }
  }

/* Mobile view */
@media (max-width: 991px) {
  body {
    padding-top: 65px; /* Add padding to the top of the page */
  }
  #portfolio {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    background: #f9f3ee;
    z-index: 10; /* Set a high z-index value */
  }
  .w3-sidebar {
    top: 0px;
    z-index: 20; 
  }
  .w3-sidebar.w3-show {
    z-index: 20;
  }
}
